.traveller-info__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 23px;
  padding-bottom: 33px;
}

.traveller-info__user-level {
  margin-left: 19px;
}

.traveller-info__picture {
  margin: 0;
  margin-left: 35px;
  width: 100px;
  height: 100px;
}

.traveller-info__image {
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .traveller-info__wrapper {
    padding-top: 64px;
    padding-right: 75px;
    padding-bottom: 36px;
    padding-left: 75px;
  }

  .traveller-info__user-level {
    margin-right: 60px;
    margin-left: 0;
  }

  .traveller-info__picture {
    order: 2;
    margin-left: auto;
    width: 94px;
    height: 94px;
  }

  .traveller-info__image {
    border-radius: 7px;
  }
}

@media (min-width: $desktop-width) {
  .traveller-info__wrapper {
    position: relative;
    z-index: 2;

    margin-top: -190px;
    padding-top: 0;
    padding-right: 60px;
    padding-bottom: 59px;
    padding-left: 124px;
  }

  .traveller-info__user-level {
    margin-top: 43px;
    margin-right: 0;
    margin-left: auto;
  }

  .traveller-info__picture {
    order: 1;
    margin-right: 95px;
    margin-left: 45px;
    width: 190px;
    height: 190px;
  }

  .traveller-info__image {
    border-radius: 0;
  }
}
