.user-level__info {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60px;
  height: 60px;

  text-align: center;
  color: $white;

  background-color: rgba(#000000, 0.6);
  border: 3px solid $orange;
  border-radius: 50%;

  &--catalog {
    margin-left: 10px;
    width: 45px;
    height: 45px;

    background-color: transparent;

    &::before {
      display: none;
    }
  }

  &::before {
    @include pseudo;

    top: 33px;
    left: 10px;

    width: 31px;
    height: 1px;

    background-color: rgba($white, 0.3);
  }
}

.user-level__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  &--catalog {
    display: none;
  }
}

.user-level__text-mobile {
  position: relative;

  display: block;
  margin-bottom: 7px;
  padding: 0 12px;

  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  background-color: $white;

  color: $grey;
}

.user-level__number {
  margin: 0;
  margin-top: 10px;

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;

  &--catalog {
    margin-top: 13px;

    line-height: 18px;
    color: #1d2e5b;
  }
}

@media (min-width: $tablet-width) {
  .user-level__info {
    &--catalog {
      margin: 0;
      width: 60px;
      height: 60px;

      background-color: transparent;

      &::before {
        display: block;

        background-color: rgba(#000000, 0.1);
      }
    }
  }

  .user-level__text-mobile {
    display: none;
  }

  .user-level__text {
    &--catalog {
      display: block;

      color: rgba(#444444, 0.4);
    }
  }

  .user-level__number {
    margin-top: 10px;

    line-height: 24px;
  }
}
